<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Extensions.Core" version="3.0.1" targetFramework="net461" />
  <package id="Accord.Extensions.Imaging.AForgeInterop" version="3.0.1" targetFramework="net461" />
  <package id="Accord.Extensions.Imaging.Algorithms" version="3.0.1" targetFramework="net461" />
  <package id="Accord.Extensions.Imaging.Algorithms.LINE2D" version="3.0.1" targetFramework="net461" />
  <package id="Accord.Extensions.Math" version="3.0.1" targetFramework="net461" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net461" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net461" />
  <package id="Costura.Fody" version="3.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="DotImaging.BitmapInterop" version="4.8.3" targetFramework="net461" />
  <package id="DotImaging.GenericImage" version="4.8.3" targetFramework="net461" />
  <package id="DotImaging.Primitives2D" version="4.8.3" targetFramework="net461" />
  <package id="Fody" version="3.2.2" targetFramework="net461" developmentDependency="true" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="2.5.10" targetFramework="net461" developmentDependency="true" />
  <package id="System.Reactive" version="4.1.0" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.1.0" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.1.0" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>